.wrapper
  // sidebar directive
  sidebar
  .main-panel
    // navigation directive
    navigation
    .content
      .container
        .row
          .col-md-6
            h1.form-signin-heading Your folders
            .alert.alert-danger(id='alert_div', role='alert',
              ng-if='vm.message') {{vm.message}}
            table.table#folders_table
              thead
                tr
                  th Folder
                  th(colspan='2') Actions
              tbody
                tr(ng-repeat='folder in vm.folders track by $index')
                  td
                    input.form-control(id='folder_{{$index}}',
                    ng-model='vm.folders[$index]', ng-value='vm.folders[$index]')
                  td
                    button.btn.btn-primary.btn-sm(id='edit_folder_button_{{$index}}',
                    ng-click='vm.updateFolder()',
                    ng-disabled='folder.length === 0') Update
                  td
                    button.btn.btn-danger.btn-sm(id='remove_folder_button_{{$index}}',
                    ng-click='vm.removeFolder(folder)') Remove
            h1.form-signin-heading Add folder
            form(ng-class="{'submitted': vm.submitted}", name='vm.folderForm')
              .form-group
                label(for='name') Name*
                input.form-control(id='folder_input',
                placeholder='Enter name', ng-model='vm.newFolder', required='')
              .row
                .col-md-6.text-left
                  button.btn.btn-default(id='add_folder_button',
                  ng-click='vm.addFolder($event)',
                  ng-disabled='vm.newFolder.length === 0 || vm.newFolder === undefined') Add
                .col-md-6.text-right
                  button.btn.btn-primary.align-right(id='save_folder_button'
                  ng-click='vm.updateProfile($event)') Save
